<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>INDEX</title>
</head>
<body>
    <div class="titles">
        {% if title %}
            <h1>{{title}}</h1>
        {% else %}
            <h1>Home Page</h1>
        {% endif %}
    </div>
</body>
</html>